@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.homepage__btn {
  display: flex;
  transform: scale(2);

  border: none;
  background: rgba(0, 0, 0, 0.11);
  transition: all 0.3s ease;
  backdrop-filter: blur(1px);
  cursor: pointer;

  &:hover {
    background: rgba(0, 0, 0, 0.31);
  }
}
